<!DOCTYPE HTML>
<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="../../resources/css/app/common.css" rel="stylesheet"/>
      
	</head>
	<body>
		<div id="navbar" class="dmsgnav">Test this Text</div>
		<div class="container">
			<h3>{Product Name} - Add Update product documents</h3>
			
			<div id="imageRow" class="row" >
			  	<div id="imgContainer" class="col-md-3">
					<div id="imgThumbnail" class="thumbnail">
					       <img src="http://www.kerry-beaches.com/images/skellig-michael-puffin-small.jpg">
					</div>
					<div id="imgUpload">
                        <input type="file" name="imgFile" value="" id="imagefile" class="btn"/>
                    </div>
			    </div>
			    <div id="imgContainer2" class="col-md-3">
                    <div id="imgThumbnail2" class="thumbnail">
                           <img src="http://www.kerry-beaches.com/images/skellig-michael-puffin-small.jpg">
                    </div>
                    <div id="imgUpload2">
                        <input type="file" name="imgFile2" value="" id="imagefile2" class="btn"/>
                    </div>
                </div>
                 <div id="imgContainer3" class="col-md-3">
                    <div id="imgThumbnail3" class="thumbnail">
                           <img src="http://www.kerry-beaches.com/images/skellig-michael-puffin-small.jpg">
                    </div>
                    <div id="imgUpload3">
                        <input type="file" name="imgFile3" value="" id="imagefile3" class="btn"/>
                    </div>
                </div>
                 <div id="imgContainer4" class="col-md-3">
                    <div id="imgThumbnail4" class="thumbnail">
                           <img src="http://www.kerry-beaches.com/images/skellig-michael-puffin-small.jpg">
                    </div>
                    <div id="imgUpload4">
                        <input type="file" name="imgFile4" value="" id="imagefile4" class="btn"/>
                    </div>
                </div>
			</div>
			
			
		</div>
		
		<!-- Include JS files for Bootstrap / Jquery in future angular js dependancies can be considered -->
		
	</body>
	
	
</html>